body {
  background: url('../assets/placeholder.gif') center no-repeat;
  background-size: 450%;
  color: $main-type-color;
  font: 400 1em/1.4 $primary-font;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-rendering: optimizeLegibility;
}

.about {
  letter-spacing: 1px;
  @include position(absolute, 12vh 0 auto 0);
  text-align: center;
  text-transform: uppercase;
  z-index: 3;

  @include if_narrower_than($font-size-breakpoint) {
    top: 20vh;
  }

  h1, p { margin: 0 }

  h1 {
    @include filter(blur(.025em));
    font-size: 6vw;
    line-height: 1.15;
    text-shadow: -.1em 0 .05em #000, .05em 0 .05em #000, 0 .04em 0 #000;
    white-space: pre;

    @include if_narrower_than($font-size-breakpoint) {
      font-size: 20vw;
    }
  }

  p {
    @include filter(blur(.04em));
    font-size: 2.75vw;
    line-height: 1.5;
    text-shadow: -.15em 0 .1em #000, .05em 0 .05em #000, 0 .04em 0 #000;

    @include if_narrower_than($font-size-breakpoint) {
      font-size: 6vw;
      margin-top: .75em;
      padding: .75em;
      word-break: break-word;
    }
  }

  a { color: $main-type-color }
}

.controls {
  @include filter(blur(.075em));
  font-size: 1.5vw;
  margin-top: .5em;
  @include user-select(none);

  @include if_narrower_than($font-size-breakpoint) {
    bottom: .5em;
    font-size: 1.5rem;
    position: fixed;
    width: 100%;
  }

  &.inactive .control {
    cursor: wait;
    opacity: .5
  }

  &.playing {
    .playpause .play { display: none }
    .playpause .pause { display: block }
  }

  .playpause .play { display: block }
  .playpause .pause { display: none }

  .control {
    cursor: pointer;
    display: inline-block;
    padding: 1em;
    vertical-align: top;

    @include if_narrower_than($font-size-breakpoint) {
      padding: .5em;
      -webkit-tap-highlight-color: none;
    }

    svg {
      fill: $main-type-color;
      @include filter(drop-shadow(-.25em 0 0.1em #000));
      height: 5vw;

      @include if_narrower_than($font-size-breakpoint) {
        height: 20vw;
      }
    }
  }
}

.videos {
  @include if_narrower_than($font-size-breakpoint) {
    display: none;
  }
}

.videos video {
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  @include position(absolute, 0px 0px 0px 0px);
  z-index: 1;

  &.active { opacity: 1 }
}

.soundcloud { display: none }
