%video.active{ 'src' => 'assets/driving.mp4', 'autoplay' => 'true', 'loop' => 'true' }
%video{ 'src' => 'assets/posing.mp4', 'autoplay' => 'true', 'loop' => 'true' }
%video{ 'src' => 'assets/slalom.mp4', 'autoplay' => 'true', 'loop' => 'true' }
%video{ 'src' => 'assets/braking.mp4', 'autoplay' => 'true', 'loop' => 'true' }
