.about
  %h1 Feat. Drake Records&nbsp;
  %p
    %span 2015 Releases on Soundcloud:
    %br
    = link_to 'soundcloud.com/featdrake/sets/2015-releases', 'https://soundcloud.com/featdrake/sets/2014-releases'

  .controls.inactive
    .control.playpause
      = partial 'assets/play.svg'
      = partial 'assets/pause.svg'
    .control.next
      = partial 'assets/next.svg'

.videos
  %video.active{ 'src' => 'assets/driving.mp4', 'autoplay' => 'true', 'loop' => 'true' }
  %video{ 'src' => 'assets/posing.mp4', 'autoplay' => 'true', 'loop' => 'true' }
  %video{ 'src' => 'assets/slalom.mp4', 'autoplay' => 'true', 'loop' => 'true' }
  %video{ 'src' => 'assets/braking.mp4', 'autoplay' => 'true', 'loop' => 'true' }
 
%iframe.soundcloud{ 'src' => 'https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/62719730&amp;auto_play=false' }
